
$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$grey-light: rgba(246,246,246,255);
$green-light:rgb(152, 226, 207);
$black: black;
$white: white;
$grey-dark: #353535;
$form: rgba(234,234,234,255);